MONGODB_URI="mongodb+srv://"
BETTER_AUTH_SECRET=
# BETTER_AUTH_SECRET=ba_zgot8cr5gxkfq0xd818xjop1z6xvdd8e
BETTER_AUTH_API_KEY=
BETTER_AUTH_URL=http://localhost:3000 # Base url of your Next.js app for client
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000 # Base url of your Next.js app for server
